body {
  padding: 30px;
  font-family: 'Verdana', cursive;
  color: black
}

table, th, td {
  border-collapse: collapse;
}

th, td {
  border-bottom: 1px solid grey;
  padding: 15px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #f5ebbc;
}

nav, ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li
