body {
  padding: 30px;
  font-family: 'Verdana', cursive;
  color: black;
  background-color: ivory;
}

table, th, td {
  border-collapse: collapse;
}

th, td {
  border-bottom: 1px solid grey;
  padding: 15px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:nth-child(odd) {
  background-color: white;
}

tr:hover {
  background-color: #f5ebbc;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100px;
  position: fixed;
  overflow: auto;
}

nav li a {
  border-bottom: 1px solid grey;
  display: block;
  padding: 8px 8px;
  text-decoration: none;
  color: black;
  background-color: #f2f2f2;
}

nav li a:hover {
  background-color: #f5ebbc;
}

#content {
  margin-left: 120px;
}

#low-stock {
  background-color: #FF6961;
  text-align: center;
}

#average-stock {
  background-color: #FFB447;
  text-align: center;
}

#good-stock {
  background-color: #B7C68B;
  text-align: center;
}
