<h2>New Author</h2>

<form method="POST" action="/author/submitted_author">
  <div class="form-wrapper">

    <div class="form-el">
      <label for="forename">Forename:</label>
      <input type="text" name="forename" id="forename"/>
    </div>

    <div class="form-el">
      <label for="surname">Surname:</label>
      <input type="text" name="surname" id="surname"/>
    </div>

    <div class="form-el">
      <input type="submit" value="Submit Author"/>
    </div>

  </div>
</form>
