<h1>Welcome to Folio</h1>

<p>Folio is an inventory management app for your bookstore. Listed below are all of the items you have in stock. Please click the 'more info' button next to each entry to view more information.</p>

<table style="width 100%">
  <tr>
    <th>Author</th>
    <th>Book Title</th>
    <th>Number in Stock</th>
    <th></th>
  </tr>
    <% for each_item in @inventory %>
    <tr>
      <td><%= each_item.present_author_or_authors %></td>
      <td><%= each_item.book_id %></td>
      <td><%= each_item.quantity %></td>
      <td class="btn-wrapper"><a class="btn btn-action" href="/inventory/more-info/:id">More Info</a></td>
    </tr>
    <% end %>
</table>
