<!DOCTYPE html>
<html>
  <head>
    <title>Folio</title>
    <link rel="stylesheet" href="/style.css">
  </head>
    <body>
    <main>
      <nav>
        <ul class="flex">
          <li>
            <a href="/inventory">View Inventory</a>
          </li>
          <li>
            <a href="/author/view_authors">View Authors</a>
          </li>
          <li>
            <a href="/book/view_books">View Books</a>
          </li>
          <li>
            <a href="/author/new_author">Create New Author</a>
          </li>
          <li>
            <a href="/book/new_book">Create New Book</a>
          </li>
          <li>
            <a href="/inventory/new_item">Create New Inventory Item</a>
          </li>
        </ul>
      </nav>
      <section id="content">
      <%= yield %>
      </section>
      </main>
    </body>
</html>
