<!DOCTYPE html>
<html>
  <head>
    <title>Folio</title>
  </head>
    <body>
    <main>
      <nav>
        <ul class="flex">
          <li>
            <a href="/inventory">Home</a>
          </li>
          <li><a href="/author/new_author">Create New Author</a></li>
          <li><a href="/book/new_book">Create New Book</a></li>
        </ul>
      </nav>
      <section id="content">
      <%= yield %>
      </section>
      </main>
    </body>
</html>
