<h2>New Author</h2>
<form method="POST" action="/new_author">
  <div class="form-wrapper">

    <div class="form-el">
      <label for="forename">Forename:</label>
      <input type="text" name="forename" id="forename"/>
    </div>

    <div class="form-el">
      <label for="surname">Surname:</label>
      <input type="text" name="surname" id="surname"/>
    </div>

    <div class="form-el">
      <input type="submit" value="Submit Author"/>
    </div>

  </div>
</form>

<h2>New Book</h2>

<form method="POST" action="/new_book">
  <div class="form-wrapper">

    <div class="form-el">
      <label for="title">Book Title:</label>
      <input type="text" name="title" id="title"/>
    </div>

    <div class="form-el">
      <label for="publisher">Publisher:</label>
      <input type="text" name="publisher" id="publisher"/>
    </div>

    <div class="form-el">
      <label for="genre">Genre:</label>
      <input type="text" name="genre" id="genre"/>
    </div>

    <div class="form-el">
      <label for="genre">Description:</label>
      <input type="description" name="description" id="description"/>
    </div>

    <div class="form-el">
      <input type="submit" value="Submit Book"/>
    </div>

  </div>
</form>
